h1{
    text-align: center;
    background-color: rgb(255, 182, 217);
    font-size: 75px;
    font-family: sans-serif;
}

h3{
    color: rgb(0, 0, 0);

}

h4{
    color:rgb(0, 0, 0)
}

ul{
    font-size: 20px;
}
.list_headers{
    color: black;

}

.bullets{
    color:black;
}

div{
    background-color: rgb(255, 182, 217);
}
body{
    background-color: rgb(255, 182, 217) ;
}
ol{
    font-size: 20px;
}
.index{
    font-size: 30px;
}
.button{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        border: 3px solid #e7e7e7;
        background-color: rgb(255, 189, 221);
        color: black;
}
.container li a{
        display: block;
        text-align: center;
        padding: 20px 40px;
}
.container li{
    list-style-type: none;
    float:left;
}

