h1{
    text-align: center;
    background-color: rgb(255, 182, 217);
    font-size: 75px;
    font-family: sans-serif;
}

h3{
    color: rgb(155, 208, 226);

}

h4{
    border-radius: 20%;
    border-color:rgb(52, 124, 146);
    color:rgb(0, 0, 0)
}